body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgray;
}

#titulo {
    color:brown;
}

p.texto {
    color:slateblue;
}

p.especial {
    color:mediumaquamarine;
}